{% extends 'base.html' %}
{% load static %}

{% block title %}日記詳細 | Unique Questionary{% endblock %}

{% block active_question_list %}active{% endblock %}

{% block contents %}
<div class="container my-div-style">
    <div class="row">
        <div class="col-3">
            <strong>タイトル</strong>
        </div>
        <div class="col-9">
            {{ question.title }}
        </div>
    </div>

    <hr>

    
        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            {% for question_detail in question.question_detail.all %}
            <div class="row">
                <div class="col-3">
                    <strong>質問</strong>
                </div>
                <div class="col-9">
                    {{ question_detail.content }}
                </div>
                <input type="hidden" id="question_detail_id" name="question_detail_id{{forloop.counter}}" value={{ question_detail.id }} />
                <div class="col-3"></div>
                <div class="col-9">
                    {% if question_detail.answer_type == 'scoreType' %}
                        {% if forloop.counter == 1 %}
                          {{ form.score1 }}点
                        {% elif forloop.counter == 2 %}
                          {{ form.score2 }}点
                        {% elif forloop.counter == 3 %}
                          {{ form.score3 }}点
                        {% elif forloop.counter == 4 %}
                          {{ form.score4 }}点
                        {% elif forloop.counter == 5 %}
                          {{ form.score5 }}点
                        {% endif %}
                    {% elif question_detail.answer_type == 'selectType' %}
                        {% if forloop.counter == 1 %}
                            {% for radiobutton in form.select_type1 %}
                                {{ radiobutton }}
                            {% endfor %}
                        {% elif forloop.counter == 2 %}
                            {% for radiobutton in form.select_type2 %}
                                {{ radiobutton }}
                            {% endfor %}
                        {% elif forloop.counter == 3 %}
                            {% for radiobutton in form.select_type3 %}
                                {{ radiobutton }}
                            {% endfor %}
                        {% elif forloop.counter == 4 %}
                            {% for radiobutton in form.select_type4 %}
                                {{ radiobutton }}
                            {% endfor %}
                        {% elif forloop.counter == 5 %}
                            {% for radiobutton in form.select_type5 %}
                                {{ radiobutton }}
                            {% endfor %}
                        {% endif %}
                    {% elif question_detail.answer_type == 'customSelectType' %}
                        {% if forloop.counter == 1 %}
                            {% for radiobutton in form.select_type1 %}
                                {{ radiobutton }}
                            {% endfor %}
                        {% elif forloop.counter == 2 %}
                            {% for radiobutton in form.select_type2 %}
                                {{ radiobutton }}
                            {% endfor %}
                        {% elif forloop.counter == 3 %}
                            {% for radiobutton in form.select_type3 %}
                                {{ radiobutton }}
                            {% endfor %}
                        {% elif forloop.counter == 4 %}
                            {% for radiobutton in form.select_type4 %}
                                {{ radiobutton }}
                            {% endfor %}
                        {% elif forloop.counter == 5 %}
                            {% for radiobutton in form.select_type5 %}
                                {{ radiobutton }}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <hr>
            {% endfor %}
            <div class="row">
                <div class="col-3">
                    <strong>{{ form.all_score.label_tag }}</strong>
                </div>
                <div class="col-9">{{ form.all_score }}点</div>
            </div>
            <hr>
            <div class="row">
                <div class="col-3">
                    <strong>{{ form.comment.label_tag }}</strong>
                </div>
                <div class="col-9">{{ form.comment }}</div>
            </div>
            <button class="btn btn-primary" type="submit">回答</button>
        </form>
    <hr>
</div>
{% endblock %}