{% extends 'base.html' %}
{% load static %}

{% block title %}日記詳細 | Unique Questionary{% endblock %}

{% block active_question_list %}active{% endblock %}
{% comment %} <h1>テスト</h1>
<div class="container my-div-style">
  <div class="row">
      <form method="POST" enctype='multipart/form-data'>
          {% csrf_token %}
          <table class="table">
              <tbody>
                  <tr>
                      <th width="150">{{ form.score.label_tag }}</th>
                      <td>{{ form.score }}</td>
                  </tr>
                  <tr>
                      <th width="150">{{ form.comment.label_tag }}</th>
                      <td>{{ form.comment }}</td>
                  </tr>
              </tbody>
          </table>
          <button class="btn btn-primary" type="submit">作成</button>
      </form>
  </div>
</div> {% endcomment %}



{% block contents %}
<div class="container my-div-style">
    <div class="row">
        <div class="col-3">
            <strong>タイトル</strong>
        </div>
        <div class="col-9">
            {{ question.title }}
        </div>
    </div>

    <hr>

    
        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            {% for question in question.question_detail.all %}
            <div class="row">
                <div class="col-3">
                    <strong>質問</strong>
                </div>
                <div class="col-9">
                    {{ question.content }}
                </div>
                <div class="col-3"></div>
                <div class="col-9">
                    {% if question.answer_type == 'scoreType' %}
                        {% if forloop.counter == 1 %}
                          {{ form.score1 }}点
                        {% elif forloop.counter == 2 %}
                          {{ form.score2 }}点
                        {% elif forloop.counter == 3 %}
                          {{ form.score3 }}点
                        {% elif forloop.counter == 4 %}
                          {{ form.score4 }}点
                        {% elif forloop.counter == 5 %}
                          {{ form.score5 }}点
                        {% endif %}
                    {% elif question.answer_type == 'selectType' %}
                        {% if forloop.counter == 1 %}
                            {% for radiobutton in form.select_type1 %}
                                {{ radiobutton }}
                            {% endfor %}
                        {% elif forloop.counter == 2 %}
                            {% for radiobutton in form.select_type2 %}
                                {{ radiobutton }}
                            {% endfor %}
                        {% elif forloop.counter == 3 %}
                            {% for radiobutton in form.select_type3 %}
                                {{ radiobutton }}
                            {% endfor %}
                        {% elif forloop.counter == 4 %}
                            {% for radiobutton in form.select_type4 %}
                                {{ radiobutton }}
                            {% endfor %}
                        {% elif forloop.counter == 5 %}
                            {% for radiobutton in form.select_type5 %}
                                {{ radiobutton }}
                            {% endfor %}
                        {% endif %}
                    {% elif question.answer_type == 'customSelectType' %}
                        {% if forloop.counter == 1 %}
                            {% for radiobutton in form.select_type1 %}
                                {{ radiobutton }}
                            {% endfor %}
                        {% elif forloop.counter == 2 %}
                            {% for radiobutton in form.select_type2 %}
                                {{ radiobutton }}
                            {% endfor %}
                        {% elif forloop.counter == 3 %}
                            {% for radiobutton in form.select_type3 %}
                                {{ radiobutton }}
                            {% endfor %}
                        {% elif forloop.counter == 4 %}
                            {% for radiobutton in form.select_type4 %}
                                {{ radiobutton }}
                            {% endfor %}
                        {% elif forloop.counter == 5 %}
                            {% for radiobutton in form.select_type5 %}
                                {{ radiobutton }}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <hr>
            {% endfor %}
            <div class="row">
                <div class="col-3">
                    <strong>{{ form.score.label_tag }}</strong>
                </div>
                <div class="col-9">{{ form.allScore }}点</div>
            </div>
            <hr>
            <div class="row">
                <div class="col-3">
                    <strong>{{ form.comment.label_tag }}</strong>
                </div>
                <div class="col-9">{{ form.comment }}</div>
            </div>
            <button class="btn btn-primary" type="submit">作成</button>
        </form>
    <hr>
</div>
{% endblock %}