{% extends 'base.html' %}
{% load static %}

{% block title %}回答者をワクワクさせるアンケートを作成しよう | Unique Questionary{% endblock %}

{% block header%}
<header class="masthead text-center text-sky">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">Unique Questionary</h1>
      <h2 class="masthead-subheading mb-0">アンケート作成サービス</h2>
      {% if user.is_authenticated %}
      {% comment %} TODO ログアウト→作成に変える {% endcomment %}
        <a href="{% url 'account_logout' %}" class="btn btn-primary btn-xl rounded-pill mt-5">LOG OUT</a>
      {% else %}
        <a href="{% url 'account_login' %}" class="btn btn-primary btn-xl rounded-pill mt-5">LOG IN</a>
      {% endif %}
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
{% endblock %}

{% block contents %}
<div class="container px-4 px-lg-5 my-div-style">
  <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
          {% for question in question_list %}
          <div class="post-preview">
              <a href="#">
              {% comment %} <a href="{% url 'question:question_detail' question.pk %}"> {% endcomment %}
                  <h2 class="post-title">
                      {{ question.title }}
                  </h2>
              </a>
              <p class="post-meta">回答人数：{{ question.answer_num }}人</p>
              <p class="post-meta">総合評価中央値：{{ question.median_score }}点</p>
              <p class="post-meta">総合評価平均値：{{ question.average_score }}点</p>
              <p class="post-meta">作成者：{{ question.user }}</p>
              <p class="post-meta">作成日時：{{ question.created_at }}</p>
          </div>
          <hr class="my-4">
          {% empty %}
          <p>アンケートがありません。</p>
          {% endfor %}

          <!-- ページネーション処理 -->
          {% if is_paginated %}
          <ul class="pagination">
              <!-- 前ページへのリンク -->
              {% if page_obj.has_previous %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                      <span aria-hidden="true">&laquo;</span>
                  </a>
              </li>
              {% endif %}

              <!-- ページ数表示 -->
              {% for page_num in page_obj.paginator.page_range %}
              {% if page_obj.number == page_num %}
              <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
              {% endif %}
              {% endfor %}

              <!-- 次ページへのリンク -->
              {% if page_obj.has_next %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                      <span aria-hidden="true">&raquo;</span>
                  </a>
              </li>
              {% endif %}
          </ul>
          {% endif %}
      </div>
  </div>
</div>
{% comment %} <section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="{% static 'assets/img/01.jpg' %}" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Web questionary</h2>
          <p>Web上で作成/編集/削除ができる日記</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="{% static 'assets/img/02.jpg' %}" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Save Your questionary</h2>
          <p>あなたの日記をWebに保存</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="{% static 'assets/img/03.jpg' %}" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Membership System</h2>
          <p>会員制のWeb日記サービス</p>
        </div>
      </div>
    </div>
  </div>
</section> {% endcomment %}
{% endblock %}