{% extends 'base.html' %}
{% load static %}

{% block title %}日記詳細 | Unique Questionary{% endblock %}

{% block active_question_list %}active{% endblock %}


{% block contents %}
<div class="container my-div-style">
    <div class="row">
        <div class="col-3">
            <strong>タイトル</strong>
        </div>
        <div class="col-9">
            {{ object.title }}
        </div>
    </div>

    <hr>

    <div class="row">
        {% for question in object.question_detail.all %}
        <div class="col-3">
            <strong>質問</strong>
        </div>
        <div class="col-9">
            {{ question.content }}
            {% if question.answer_type == 'scoreType' %}
              <div>scoreType</div>
              {% comment %} {% for radiobutton in form.select_type %}
                  {{ radiobutton }}
              {% endfor %} {% endcomment %}
            {% elif question.answer_type == 'selectType' %}
              <div>selectType</div>
              {% comment %} {% for radiobutton in form.select_type %}
                  {{ radiobutton }}
              {% endfor %} {% endcomment %}
            {% elif question.answer_type == 'customSelectType' %}
              <div>customSelectType</div>
              {% comment %} {% for radiobutton in form.select_type %}
                  {{ radiobutton }}
              {% endfor %} {% endcomment %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <hr>
</div>
{% endblock %}